.expediente-card {
  border: 2px solid #8a8a8a;
  padding: 16px;
  border-radius: 5px;
}

.expediente-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.expediente-card p {
  margin: 6px 0;
  color: #555;
  font-weight: 300;
}

.expediente-card strong {
  color: #000;
}

/* Botones en la tarjeta */
.expediente-card-buttons {
  opacity: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

/* Estilo común para todos los botones */
.expediente-card-buttons button {
  padding: 12px 16px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-download-pdf {
  margin-top: 15px;
  padding: 12px 16px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Botón Editar */
.btn-edit {
  background-color: #4caf50;
  color: #fff;

}

.btn-edit:hover {
  background-color: #45a049;
  transform: scale(1.01);
}

/* Botón Eliminar */
.btn-delete {
  background-color: #f44336;
  color: #fff;
}

.btn-delete:hover {
  background-color: #e53935;
  transform: scale(1.01);
}

/* Botón Descargar PDF */
.btn-download-pdf {
  margin-top: 0%;
  background-color: #007bff;
  color: #fff;
}

.btn-download-pdf:hover {
  background-color: #0056b3;
  color: #fff;
  transform: scale(1.01);
}